body{
    background-color: aquamarine;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

*{
box-sizing: border-box;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 0 auto;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
    background-color: black;
}

.container1{
    max-width: 250px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: black;
}

.screen{
    width: 100%;
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
}
.container .container1 .screen #display, .container .container1 #display1{
    height: 20px;
}

.container .container1 .screen #display1{
    text-align: right;
    margin-top: 3px;
    font-size: 25px;
}

#display1{
    margin-bottom: 3px;
}

.buttons{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap: 15px;
    padding: 10px;
}

.button1{
    padding: 6px;
    background: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.button{
    padding: 10px;
    background: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.button-clear, .button-equal{
    grid-column: span 2;
}

.button-clear{
    background: orangered;
    border-radius: 5px;
    cursor: pointer;
}
.button-equal{
    background: orangered;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(30, 32, 34);
    color: white;
    transition: 0,8s;
}
.button-clear:hover{
    background-color:red;
    color: white;
    transition: 0,8s;
}
.button-equal:hover{
    background-color: green;
    color: white;
    transition: 0,8s;
}
.button1:hover{
    background-color: rgb(30, 32, 34);
    color: white;
    transition: 0,8s;
}